*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* .flex-container{
    height: 30rem;
    display: flex;
    flex-direction: column;
} */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex-container{
    width: 80%;
    height: 30rem;
    display: flex;
    flex-direction: row;
    gap: 9rem;
    background-color: blue;
    justify-content: center;
    align-items: center;
    /* align-items: stretch; */
    flex-wrap: wrap;

}

.flex-container div {
    padding: 2rem;
}
